<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.abl" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ABLPlugin</name>
    <js-module name="ABLPlugin" src="www/ABLPlugin.js">
        <clobbers target="cordova.plugins.ABLPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ABLPlugin">
                <param name="android-package" value="cordova.plugin.abl.ABLPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="Activity # 1" android:name="cordova.plugin.abl.ActivityOne"></activity>

        </config-file>


        <source-file src="src/android/ABLPlugin.java" target-dir="src/cordova/plugin/abl/ABLPlugin" />

        <source-file src="src/android/ActivityOne.java" target-dir="src/cordova/plugin/abl/ABLPlugin" />
        <source-file src="src/android/activity_one.xml" target-dir="res/layout" />
        <resource-file src="src/android/strings.xml" target="res/values/strings.xml" />
    </platform>
</plugin>